{% extends "base.html" %}


{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/base.css" type="text/css">
<link rel="stylesheet" href="/static/tv_show.css" type="text/css">


<div class="container">
     {%  for tv_show in tv_shows %}
  <div class="box">

<div class="video_container">
              <p>
                <img src= '{{ tv_show.photo }}' width="300" height="400" alt="{{ tv_show.name }}" />
              </p>
                <p>
                        <h5>{{ tv_show.name }}</h5>
                   {% if  tv_show.last_episode == 'Все серии'  or tv_show.last_episode == 'все серии'%}
                       <h5> Все серии </h5>
                   {% else %}
                        <h5> Серия {{tv_show.last_episode }}</h5>
                   {% endif %}

                <div class="form-control">
                        {% if tv_show.id in subscriptions %}
                         <a href="{% url 'video:unsubscribe' pk=tv_show.id %}">
                     <button data-video-id="{{ tv_show.id }}" class="btn btn-default">Перестать</button>
                    </a>
                    {% else %}
                         <a href="{% url 'video:add' pk=tv_show.id %}">
                             <button data-video-id="{{ tv_show.id }}" class="btn btn-default">Следить</button>
                        </a>

                    {% endif %}

                </div>
          </div>
      </div>
         <div class="box_table">
                 <table class="features-table">
                 <tbody>
                     <tr>
                         <td  class="grey">Страна </td>
                         <td  class="grey">{{ tv_show.country }}</td>
                     </tr>
                    <tr>
                        <td  class="grey">Год </td>
                        <td class="grey">{{ tv_show.year_of_issue }}</td>
                    </tr>
                    <tr>
                        <td class="grey">Жанр</td>
                        <td class="grey">{{ tv_show.genre }}</td>
                    </tr>
                     {% if not tv_show.duration == None %}
                        <tr>
                            <td class="grey">Продолжительность</td>
                            <td class="grey">{{ tv_show.duration }}, минут</td>
                        </tr>
                     {% endif  %}
                    {% for data in info_web %}
                        {% if not data.quality == None %}
                        <tr>
                            <td class="grey">Качество</td>
                            <td class="grey">{{ data.quality }}</td>
                        </tr>
                        {% endif %}
                        {% if not data.translation == None %}
                        <tr>
                            <td class="grey">Перевод </td>
                            <td class="grey" nowrap>{{ data.translation }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td class="grey">Смотреть онлайн </td>
                        <td class="grey" nowrap>{{ data.title }} : <a>{{ data.link_to_watch_online }}</a></td>
                    {% endfor %}
                    </tr>
                     <tr>
                         <td class="grey">Описание</td>
                         <td class="grey" nowrap> {{ tv_show.description }}</td>
                     </tr>
                 </tbody>
                 </table>
             </div>

    {% endfor %}
</div>
    <script>
    $('.box .video_container .form-control button').click(function(e)
    {
        e.preventDefault();
        var el = $(e.target);
        var video_id = el.attr('data-video-id');
        var subscribe = el.parent().attr('href');
        var text_now = el.text();
        if (text_now == 'Следить' && subscribe == '/video/add/' + video_id + '/'){
            el.text('Перестать');
            el.parent().attr('href','/video/unsubscribe/' + video_id);
        }
        else {
            el.text('Следить');
            el.parent().attr('href','/video/add/' + video_id);

        }
        $.get(subscribe);

    });
    </script>
{% endblock %}