

.container
{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%
}

.box
{
 background: #E8E6E7;
  color: black;
  font-size: 60px;
  text-align: center;
  line-height: 200px;

  width: 300px;
  height: 100%;
  margin-top: 60px;
  margin-left: 50px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(92, 99, 107);
}

.box:nth-child(2)
{
  flex-grow:2;
    background: #d6d0ff;
}

.video_container{
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.form {
    height: 34px;
    margin-bottom: 30px;
    position: relative;

}
.btn .btn-default {
    position: relative;
    margin-bottom: 20px;
}

.pagination {
    position: static;
    margin-bottom: 30px;
}

.features-table {
    width: 600px;
    height: auto;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    border: 0;
    text-shadow: 0 2px 0 #fff;
    color: #2a2a2a;
    background: #fafafa;
    background-image: -moz-linear-gradient(top, #fff, #eaeaea, #fff); /* Firefox 3.6 */
    background-image: -webkit-gradient(linear, center bottom, center top, from(#fff), color-stop(0.5, #eaeaea), to(#fff));
    position: relative;
    font-size:12pt;
}

.features-table td {
    height: 13px;
    padding: 0 22px;
    border-bottom: 4px solid #cdcdcd;
    box-shadow: 0 3px 0 white;
    -moz-box-shadow: 0 3px 0 white;
    -webkit-box-shadow: 0 2px 0 white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.features-table td.grey
{
  background: #efefef;
  background: rgba(144,144,144,0.15);
  border-right: 1px solid white;
    height: 20px;
    width: 625px;
    line-height: 2
}


.features-table td:nowrap
{
  white-space: nowrap;
}

.features-table thead tr
{

  font-weight: bold;
    height: 20px;
    width: 625px;
    line-height: 2;
    text-align: center;
    margin-top: 0 ;
    font-size:15pt;
}

.form-control {
    background: #E8E6E7;
    border: 0px;
    margin-bottom: 4px;
}


img {
    vertical-align: middle;
    border: 5px;
    border-style: solid;
    border-radius: 10px;
    border-bottom-color: #ECECEC;
    border-top-color: #BDBEC3;
    border-left-color: #C5C5C9;
    border-right-color: #C5C5C9;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-bottom: 10px;
    padding-bottom: 3px;
    padding-top: 2px;
}