.container
{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  padding-left: 60px;
}

.box
{
 background: #E8E6E7;
  color: black;
  font-size: 60px;
  text-align: center;
  line-height: 200px;

  width: 300px;
  height: 550px;
  margin-top: 60px;
  margin-left: 50px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(92, 99, 107);


}

img {
    vertical-align: middle;
    border: 5px;
    border-style: solid;
    border-radius: 10px;
    border-bottom-color: #ECECEC;
    border-top-color: #BDBEC3;
    border-left-color: #C5C5C9;
    border-right-color: #C5C5C9;
}

.video_container{
  width: 100%;
  max-width: 300px;
  margin: auto;
}
/*.img {*/
  /*height: auto;*/
  /*width: 300px;*/
/*}*/

.form {
    height: 34px;
    margin-bottom: 30px;
    position: relative;

}
.btn .btn-default {
    position: relative;
    margin-bottom: 20px;
}

.pagination {
    position: static;
    margin-bottom: 30px;
}

.form-control {
    background: #E8E6E7;
    border: 0px;
}


.pag-bar{
    text-align: center;
    margin-bottom: 30px;

}


.no_video{
    text-align: center;
    margin: auto;
    margin-top: 90px;

}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-top: 2px;
}