<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Siren</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/base.css">
</head>
<body>

<div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Siren</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'index' %}">Home</a></li>

                        <li><a href="#">Films</a></li>
                        <li><a href="#">Tv shows</a></li>
                    </ul>


                    <ul class="nav navbar-nav pull-right">
                        <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed in as {{ user.login }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class=""><a href="{% url 'user:profile' %}">Your Profile</a></li>
                                <li class=""><a href="{% url 'user:change_password' %}">Change password</a>
                                <li class=""><a href="{% url 'user:logout' %}">Log out</a></li>
                            </ul>
                            <li class=""><a href="{% url 'user:registration' %}">Registration</a></li>
                            <li class=""><a href="{% url 'user:login' %}">Log in</a></li>
                    </ul>
                </div>
            </div>
        </nav>
{% block content %}
{% endblock %}

  </div>
</div>
</body>
</html>
