{% extends "base.html" %}

        	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<!-- CSS style -->



{% block content %}

            <link rel="stylesheet" type="text/css" href="/static/login_register.css">



			<div class="container">
			<div class="row main">
				<div class="main-login main-center">
				<h5>You can change your password here ;)</h5>
					<form class="form-group" method="post" action="">
                        {% csrf_token %}
                        <div class="form-group">
							<label for="password" class="cols-sm-2 control-label">New Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="new_password" id="new_password"  placeholder="Enter your New Password" value="{{ form.new_password.value }}">
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Reenter Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="reenter_password" id="reenter_password"  placeholder="Reenter your Password" value="{{ form.reenter_password.value }}"/>
								</div>
							</div>
						</div>

						<div class="form-group ">
							<button class="btn btn-default regbutton">Change password</button>
						</div>

					</form>
				</div>
                {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
			</div>
		</div>

{% endblock %}
